/*colors*/
/*button: #0163CB;*/
/*primary-text: #263C55;*/
/*secondary-text: #0063BE;*/
/*normal-text: #373737;*/
/*muted: #627C89;*/



.academy-courses__sidebar {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
}
.academy-courses__header-filter {
    margin: 0;
}
.academy-courses__header {
    margin: 0 0 30px;
}

@media(max-width: 1200px){

}
@media(max-width: 991px){

}
@media(max-width: 768px){

}
@media(max-width: 576px){

}
@media(min-width: 576px){
    .academy-container, .academy-container-lg, .academy-container-md, .academy-container-sm, .academy-container-xl, .ast-container {
        max-width: 1200px;
    }
}
